<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Doer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="shortcut icon" href="http://i63.tinypic.com/awt4r8.jpg"/>
</head>

<body>

    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    To-<strong>Doer</strong>
                </a>
                <p class="navbar-item" style="font-size:12px;padding-top:15px;">
                    A minimal To-Do app
                </p>
                <button class="button navbar-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" id="search-tag" type="text" placeholder="Find tag">
                        </p>
                        <p class="control">
                            <button class="button" onclick="window.location.href='/tag/'+document.getElementById('search-tag').value">
                                Search
                            </button>
                        </p>
                    </div>
                </div>
                <div class="navbar-item">
                    <a class="button is-primary modal-button" data-target="add-mem" onclick="document.getElementById('add-mem').className = 'modal is-active';">Add Memory!</a>
                </div>
                <div class="navbar-item">
                    <a href="/logout/" class="button is-info">Logout!</a>
                </div>
                {% endif %}
            </div>
        </nav>
        {% if user.is_authenticated %}
        <div class="tabs is-toggle is-centered">
          <ul>
            <li class="is-active">
              <a href="/">
                <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
                <span>Notes</span>
              </a>
            </li>
            <li>
              <a href="/pomodoro/">
                <span class="icon is-small"><i class="fa fa-clock-o"></i></span>
                <span>Pomodoro</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa fa-calendar"></i></span>
                <span>10/10/10</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa fa-th-large"></i></span>
                <span>The Matrix</span>
              </a>
            </li>
          </ul>
        </div>
        {% endif %}

        {% block body %} {% endblock %}
    </div>
    {% if user.is_authenticated %}
    <div id="add-mem" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">{{ form.name.label }}</label>
                        <div class="control">
                            {{ form.name }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">{{ form.link.label }}</label>
                        <div class="control">
                            {{ form.link }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">{{form.tag.label}}</label>
                        <div class="control">
                            {{ form.tag }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">{{form.desc.label}}</label>
                        <div class="control">
                            {{form.desc}}
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="Submit" name="Submit" value="Submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="document.getElementById('add-mem').className = 'modal';"></button>
    </div>
    {% endif %}
    <br>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>ToDoer</strong> by <a href="http://vshelke.me">Vaibhav Shelke</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
                <p>
                    <a class="icon" href="https://github.com/vshelke/todoer">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>

</body>

</html>
